<br /><br />
<div>
  <button class="btn" ejs-button [routerLink]="['grid']">view table</button
  >&nbsp;
  <button class="btn" ejs-button [routerLink]="['scedule']">scheduler</button>
</div>
<br />
<form class="form-horizontal" [formGroup]="form">
  <div class="form-group">
    <div class="col-sm-12">
      <label for="name" class="control-label required">Name</label>
      <input
        class="e-input"
        type="text"
        placeholder="Enter Name"
        formControlName="name"
      />
    </div>
    <div *ngIf="name?.errors">
      <div *ngIf="name?.errors && name?.touched" class="e-error">
        This field is required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <label for="email" class="control-label required">Email</label>
      <input
        class="e-input"
        type="text"
        placeholder="Enter Email"
        formControlName="email"
      />
    </div>
    <div *ngIf="email?.errors">
      <div *ngIf="email?.errors && email?.touched" class="e-error">
        This field is required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <label for="password" class="control-label required">Salary</label>
      <input
        class="e-input"
        type="salary"
        placeholder="Enter salary"
        formControlName="salary"
      />
    </div>
    <div *ngIf="salary?.errors">
      <div *ngIf="salary?.errors && salary?.touched" class="e-error">
        This field is required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <label for="password" class="control-label required">Game</label>
      <ejs-dropdownlist
        id="ddlelement"
        [dataSource]="data"
        formControlName="game"
        placeholder="Select a game"
      ></ejs-dropdownlist>
    </div>
    <div *ngIf="game?.errors">
      <div *ngIf="game?.errors && game?.touched" class="e-error">
        This field is required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <label for="password" class="control-label required">DOB</label>
      <ejs-datepicker
        [value]="dateValue"
        formControlName="dob"
        placeholder="Enter date"
        format='yyyy-MM-dd'
      ></ejs-datepicker>
    </div>
    <div *ngIf="dob?.errors">
      <div *ngIf="dob?.errors && dob?.touched" class="e-error">
        This field is required.
      </div>
    </div>
  </div>
  <br />
  <button
    class="btn btn-primary"
    ejs-button
    (click)="onSubmit()"
    [disabled]="!form.valid"
  >
    submit</button
  >&nbsp;
  <button class="btn" ejs-button (click)="reset()">reset</button>
</form>

<app-toast *ngIf="formSumitAttempt"></app-toast>
